<section class="container mx-auto py-8">
  <div class="w-full h-auto md:h-96 flex items-center justify-center md:justify-normal gap-2">
    <div class="h-full w-full md:w-1/2">
      <img class="h-full w-full overflow-hidden object-fill" src="./assets/images/banner/1.jpg" alt="">
    </div>
    <div class="flex flex-col h-full w-full md:w-1/2">
      <div class="h-full md:h-1/2 w-full pb-1">
        <img class="h-full w-full overflow-hidden object-fill" src="./assets/images/banner/2.jpg" alt="">
      </div>
      <div class="h-full md:h-1/2 w-full pt-1">
        <img class="h-full w-full overflow-hidden object-fill" src="./assets/images/banner/3.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="my-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 h-auto">
      <a class="h-full w-full bg-gray-200 px-2 cursor-pointer group">
        <div class="grid grid-cols-2 h-full w-full">
          <div class="h-full w-full group-hover:scale-105 transition duration-500">
            <img class="h-full w-full object-contain" src="./assets/images/products/big-speaker.png" alt="">
          </div>
          <div class="flex flex-col h-full justify-center items-end pr-10">
            <h1 class="text-xl font-bold font-lato text-gray-500">10% OFF</h1>
            <h1 class="text-2xl md:text-4xl font-bold font-lato text-gray-900">SPEAKER</h1>
          </div>
        </div>
      </a>
      <a class="h-full w-full bg-gray-200 px-2 cursor-pointer group">
        <div class="grid grid-cols-2 h-full w-full">
          <div class="h-full w-full group-hover:scale-105 transition duration-500 flex items-center justify-center">
            <img class="h-40 w-full object-contain" src="./assets/images/products/headphone.png" alt="">
          </div>
          <div class="flex flex-col h-full justify-center items-end pr-10">
            <h1 class="text-xl font-bold font-lato text-gray-500">10% OFF</h1>
            <h1 class="text-2xl md:text-4xl font-bold font-lato text-gray-900">EARPLUG</h1>
          </div>
        </div>
      </a>
      <a class="h-full w-full bg-gray-200 px-2 cursor-pointer group">
        <div class="grid grid-cols-2 h-full w-full">
          <div class="h-full w-full group-hover:scale-105 transition duration-500 p-2">
            <img class="h-[180px] object-contain" src="./assets/images/products/speaker.png" alt="">
          </div>
          <div class="flex flex-col h-full justify-center items-end pr-10">
            <h1 class="text-xl font-bold font-lato text-gray-500">10% OFF</h1>
            <h1 class="text-2xl md:text-4xl font-bold font-lato text-gray-900">BEST DEAL</h1>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- =====product list===== -->
  <div class="flex flex-wrap items-center justify-center space-x-10 w-full py-4">
    <button (click)="onClickOption(1)" class="font-lato text-lg" [ngClass]="{'text-gray-700': selectedButton() === 1}">BEST SELLER</button>
    <button (click)="onClickOption(2)" class="font-lato text-lg" [ngClass]="{'text-gray-700': selectedButton() === 2}">ON SALE</button>
    <button (click)="onClickOption(3)" class="font-lato text-lg" [ngClass]="{'text-gray-700': selectedButton() === 3}">FEATURED PRODUCTS</button>
  </div>

  <div class="grid grid-cols-4 gap-8">
    @for(product of productList; track product._id) {
      <product-thumb [product]="product"></product-thumb>
    }
  </div>

</section>
